.pgn {
    .board {
        width: 25vw;
        height: 25vw;
        border: black solid 1px;
        float: left;
        background-color: #white;

        .row { 
            position: relative;
            height: 12.5%;
            margin: 0;
            padding: 0;
        }
        .row:after {
            position: absolute;
            top: 0.2vw;
            left: 0.2vw;
            height: 100%;
            width: 3.125%;
            color: black;
            font-size: 1vw;
            text-align: left;
        }
        .row.r1:after { content: '1'; }
        .row.r2:after { content: '2'; }
        .row.r3:after { content: '3'; }
        .row.r4:after { content: '4'; }
        .row.r5:after { content: '5'; }
        .row.r6:after { content: '6'; }
        .row.r7:after { content: '7'; }
        .row.r8:after { content: '8'; }

        :last-child {
            .field:after {
                position: absolute;
                bottom: 0.2vw;
                right: 0.2vw;
                height: 25%;
                width: 100%;
                color: black;
                font-size: 1vw;
                line-height: 100%;
                text-align: right;
            }
            
            .field.a1:after { content: 'a'; }
            .field.b1:after { content: 'b'; }
            .field.c1:after { content: 'c'; }
            .field.d1:after { content: 'd'; }
            .field.e1:after { content: 'e'; }
            .field.f1:after { content: 'f'; }
            .field.g1:after { content: 'g'; }
            .field.h1:after { content: 'h'; }

            .field.a8:after { content: 'a'; }
            .field.b8:after { content: 'b'; }
            .field.c8:after { content: 'c'; }
            .field.d8:after { content: 'd'; }
            .field.e8:after { content: 'e'; }
            .field.f8:after { content: 'f'; }
            .field.g8:after { content: 'g'; }
            .field.h8:after { content: 'h'; }
        }

        .field {
            display: inline-block;
            width: 12.5%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 3.125vw;
            line-height: 100%;
            position: relative;
            //text-indent: -99999vw;
        }

        .field:before {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            width: 100%;
        }

        @-moz-document url-prefix() {
            .field {
                line-height: 125%;
            }
        }

        .black
        {
            background-color: grey;
        }
        .wk:before { content: '\2654'; }
        .wq:before { content: '\2655'; }
        .wr:before { content: '\2656'; }
        .wb:before { content: '\2657'; }
        .wn:before { content: '\2658'; }
        .wp:before { content: '\2659'; }
        .bk:before { content: '\265A'; }
        .bq:before { content: '\265B'; }
        .br:before { content: '\265C'; }
        .bb:before { content: '\265D'; }
        .bn:before { content: '\265E'; }
        .bp:before { content: '\265F'; }


    }


    .moves {
        margin: 0;
        margin-left: 26vw;
        height: 25vw;
        overflow: auto;


        li {
            margin-left: 0.5em;

            span {
                margin-right: 0.5em;
                cursor: pointer;
            }

            span:hover {
                text-decoration: underline;
            }
        }
    }

    .buttons {
        clear: both;
        margin-top: 1em;
    }
}
