.pgn-board .board {
  width: 16em;
  height: 16em;
  border: black solid 1px;
  background-color: #white;
}
.pgn-board .board .row {
  position: relative;
  height: 12.5%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.pgn-board .board .row:before {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  height: 100%;
  width: 3.125%;
  color: black;
  font-size: 0.7em;
  text-align: left;
  z-index: 2;
}
.pgn-board .board .row.r1:before {
  content: '1';
}
.pgn-board .board .row.r2:before {
  content: '2';
}
.pgn-board .board .row.r3:before {
  content: '3';
}
.pgn-board .board .row.r4:before {
  content: '4';
}
.pgn-board .board .row.r5:before {
  content: '5';
}
.pgn-board .board .row.r6:before {
  content: '6';
}
.pgn-board .board .row.r7:before {
  content: '7';
}
.pgn-board .board .row.r8:before {
  content: '8';
}
.pgn-board .board .field:before {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  height: 25%;
  width: 100%;
  color: black;
  font-size: 0.7em;
  line-height: 100%;
  text-align: right;
  z-index: 2;
}
.pgn-board .board :last-child .field.a1:before {
  content: 'a';
}
.pgn-board .board :last-child .field.b1:before {
  content: 'b';
}
.pgn-board .board :last-child .field.c1:before {
  content: 'c';
}
.pgn-board .board :last-child .field.d1:before {
  content: 'd';
}
.pgn-board .board :last-child .field.e1:before {
  content: 'e';
}
.pgn-board .board :last-child .field.f1:before {
  content: 'f';
}
.pgn-board .board :last-child .field.g1:before {
  content: 'g';
}
.pgn-board .board :last-child .field.h1:before {
  content: 'h';
}
.pgn-board .board :last-child .field.a8:before {
  content: 'a';
}
.pgn-board .board :last-child .field.b8:before {
  content: 'b';
}
.pgn-board .board :last-child .field.c8:before {
  content: 'c';
}
.pgn-board .board :last-child .field.d8:before {
  content: 'd';
}
.pgn-board .board :last-child .field.e8:before {
  content: 'e';
}
.pgn-board .board :last-child .field.f8:before {
  content: 'f';
}
.pgn-board .board :last-child .field.g8:before {
  content: 'g';
}
.pgn-board .board :last-child .field.h8:before {
  content: 'h';
}
.pgn-board .board .field {
  display: inline-block;
  width: 12.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.pgn-board .board .field:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-align: center;
  line-height: 100%;
}
@-moz-document url-prefix() {
  .pgn-board .board .field:after {
    line-height: 125%;
  }
}
.pgn-board .board .black {
  background-color: grey;
}
.pgn-board .board .wk:after {
  content: '\2654';
}
.pgn-board .board .wq:after {
  content: '\2655';
}
.pgn-board .board .wr:after {
  content: '\2656';
}
.pgn-board .board .wb:after {
  content: '\2657';
}
.pgn-board .board .wn:after {
  content: '\2658';
}
.pgn-board .board .wp:after {
  content: '\2659';
}
.pgn-board .board .bk:after {
  content: '\265A';
}
.pgn-board .board .bq:after {
  content: '\265B';
}
.pgn-board .board .br:after {
  content: '\265C';
}
.pgn-board .board .bb:after {
  content: '\265D';
}
.pgn-board .board .bn:after {
  content: '\265E';
}
.pgn-board .board .bp:after {
  content: '\265F';
}
.pgn-board .moves li span {
  cursor: pointer;
  margin-right: 0.5em;
}
.pgn-board .moves li span:hover {
  text-decoration: underline;
}
